<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale-1.0">
    <title> Modelo de Deploy</title>
</head>
    <body>
        <h1>Preveja sua pontuação</h1>
            <p>
                Insira o número de horas estudadas:
            </p>
        <form action="/" method="post">
            <input type="number" name="hrs" placeholder="Numero de horas estudadas">
            <input type="submit">
        </form>






</body>


</html>